---
import Layout from '../layouts/Layout.astro';
import WeatherData from '../components/WeatherData.astro';
import HeaderSettings from '../components/HeaderSettings.astro';

import { fetchWeatherApi } from "openmeteo";

async function getCoordinates(cityName: string) {
    // API de búsqueda de Open-Meteo
    const url = `https://geocoding-api.open-meteo.com/v1/search?name=${encodeURIComponent(cityName)}&count=1&language=es&format=json`;
    
    const response = await fetch(url);
    const data = await response.json();

    // Comprobamos si encontró la ciudad
    if (!data.results || data.results.length === 0) {
        throw new Error("Ciudad no encontrada");
    }

    // Devolvemos el primer resultado
    const city = data.results[0];
    return {
        name: city.name,
        country: city.country,
        latitude: city.latitude,
        longitude: city.longitude
    };
}

const ciudad = await getCoordinates("Brunete")

const params = {
	latitude: ciudad.latitude,
	longitude: ciudad.longitude,
	daily: ["temperature_2m_max", "temperature_2m_min", "weather_code"],
	hourly: ["temperature_2m", "weather_code"],
	current: ["temperature_2m", "apparent_temperature", "precipitation", "weather_code", "relative_humidity_2m", "wind_speed_10m"],
};
const url = "https://api.open-meteo.com/v1/forecast";
const responses = await fetchWeatherApi(url, params);

// Process first location. Add a for-loop for multiple locations or weather models
const response = responses[0];

// Attributes for timezone and location
const latitude = response.latitude();
const longitude = response.longitude();
const elevation = response.elevation();
const utcOffsetSeconds = response.utcOffsetSeconds();

const current = response.current()!;
const hourly = response.hourly()!;
const daily = response.daily()!;

// Note: The order of weather variables in the URL query and the indices below need to match!
const weatherData = {
	current: {
		time: new Date((Number(current.time()) + utcOffsetSeconds) * 1000),
		temperature_2m: Math.round(current.variables(0)!.value()),
		apparent_temperature: Math.round(current.variables(1)!.value()),
		precipitation: current.variables(2)!.value(),
		weather_code: current.variables(3)!.value(),
		relative_humidity_2m: current.variables(4)!.value(),
		wind_speed_10m: Math.round(current.variables(5)!.value()),
	},
	hourly: {
		time: Array.from(
			{ length: (Number(hourly.timeEnd()) - Number(hourly.time())) / hourly.interval() }, 
			(_ , i) => new Date((Number(hourly.time()) + i * hourly.interval() + utcOffsetSeconds) * 1000)
		),
		temperature_2m: hourly.variables(0)!.valuesArray(),
		weather_code: hourly.variables(1)!.valuesArray(),
	},
	daily: {
		time: Array.from(
			{ length: (Number(daily.timeEnd()) - Number(daily.time())) / daily.interval() }, 
			(_ , i) => new Date((Number(daily.time()) + i * daily.interval() + utcOffsetSeconds) * 1000)
		),
		temperature_2m_max: daily.variables(0)!.valuesArray(),
		temperature_2m_min: daily.variables(1)!.valuesArray(),
		weather_code: daily.variables(2)!.valuesArray(),
	},
};
	
---
<Layout title="Weather app">
	<main class="w-full h-fit justify-center max-w-340 mx-auto pb-10">
		<header class="flex flex-row w-full pt-5 pb-10 sm:py-15 px-4 sm:px-10">
			<img src="/images/logo.svg" class="w-35 sm:w-60">
			<div class="relative inline-block text-left ml-auto">
				<button id="units-btn" class="bg-neutral-600/50 border border-neutral-600 rounded-xl py-2 px-5 flex flex-row gap-3 focus-within:ring-2 focus-within:ring-white focus-within:ring-offset-2 focus-within:ring-offset-[#02012B] transition-shadow">
					<img src="/images/icon-units.svg" class="w-4">
					Unidades
					<img src="/images/icon-dropdown.svg" class="w-3">
				</button>

				<!-- MENU DE UNIDADES -->
				<div id="dropdown-menu" class="hidden w-60 absolute right-0 mt-2 rounded-xl bg-neutral-800 shadow-lg border border-neutral-600 z-10 overflow-hidden">
					<button class="w-56 m-2 text-left px-4 py-3 text-lg rounded-xl text-white hover:bg-neutral-600/50">
						Switch to Imperial
					</button>
					<HeaderSettings title="Temperature" opt1="Celsius (ºC)" opt2="Fahrenheit (ºF)" opt1_id="celsius" opt2_id="farenheit"/>
					<HeaderSettings title="Wind Speed" opt1="km/h" opt2="mph" opt1_id="kmh" opt2_id="mph"/>
					<HeaderSettings title="Precipitation" opt1="Milimeters (mm)" opt2="Inches (in)" opt1_id="mm" opt2_id="inch"/>
				</div>
			</div>
		</header>
		<h1 class="text-5xl text-center font-bold font-header text-balance">¿Qué tal está el cielo hoy?</h1>
		<div class="flex flex-row justify-center mt-12 gap-5">
			<div class="bg-neutral-600/50 rounded-xl w-3/5 sm:w-120 flex flex-row py-2 px-4 gap-2 h-12 focus-within:ring-2 focus-within:ring-white focus-within:ring-offset-2 focus-within:ring-offset-[#02012B] transition-shadow">
				<img src="/images/icon-search.svg" class="w-5">
				<input class=" text-neutral-50 w-full text-xl focus:outline-none" placeholder="Busca un lugar...">
			</div>
			<button class="rounded-xl bg-blue-600 hover:bg-blue-900 transition-all py-2 px-5 text-xl focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-[#02012B]">Buscar</button>
		</div>
		<WeatherData weatherData={weatherData}, ciudad={ciudad}/>
	</main>
</Layout>

<script>
    const btn = document.getElementById('units-btn');
    const menu = document.getElementById('dropdown-menu');

    // Abre/cierra el menú al hacer clic en el botón
    btn?.addEventListener('click', () => {
        menu?.classList.toggle('hidden');
    });

    // Cierra el menú si el usuario hace clic en cualquier otra parte
    document.addEventListener('click', (event) => {
        const target = event.target as Node;

        if (!btn?.contains(target) && !menu?.contains(target)) {
            menu?.classList.add('hidden');
        }
    });
</script>