---
interface Props {
    type: string,
    hour: string,
    temp: string,
}
const { type, hour, temp } = Astro.props
---

<div class="flex w-full flex-row gap-5 rounded-xl border border-neutral-600 bg-neutral-600/30 px-5 py-3">
    <div class="flex flex-row">
        <img src={`/images/icon-${type}.webp`} class="my-auto w-10">
        <h3 class="my-auto text-xl">{hour}:00</h3>
    </div>
    <h3 class="my-auto ml-auto text-xl text-neutral-300">{temp}</h3>
</div>
