---
interface Props {
    title: string,
    value: string,
}
const { title, value } = Astro.props
---

<div class="flex h-full w-full flex-col gap-5 rounded-xl border border-neutral-600 bg-neutral-600/50 px-5 py-5">
    <h2 class="hyphens-auto text-balance text-lg text-neutral-300 sm:text-2xl">{title}</h2>
    <h3 class="mt-auto break-all text-3xl">{value}</h3>
</div>
